@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

.btn-upload {
  width: 185px;
  height: 54px;
  background: #2f80ed;
  border-radius: 10px;
  color: #fff;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  border: 0;
  margin-left: 80px;
  margin-top: 50px;
}

.btn-upload:hover {
  cursor: pointer;
}

.carousel {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  perspective:  1000px;
  margin-top: 50px;
}

:root {
  --carousel-width: 1220px;
  --card-width: 464px;
  --second: 378px;
  --third: 289px;
}

.carousel > ul {
  /* background: blue; */
  width: 1220px;
  height: 463px;
  position: relative;
  transform-style: preserve-3d;
}

.carousel > ul > li {
  position: absolute;
}

.card-item {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.carousel > button {
  width: 140px;
  height: 62px;
  border-radius: 36.5px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  line-height: 28.96px;
  border: 3px solid #828282;
  text-align: center;
  color: #828282;
  z-index: 100;
}

.carousel > button:hover {
  cursor: pointer;
}

.card-item {
  left: calc(50% - var(--card-width) / 2);
  transition: all 1s ease-in-out;
  /* transform: rotateY(120deg) translateZ(250px); */
}

.card-item > .card-img {
  width: var(--card-width);
  height: var(--card-width);
}

.card-item > .card-img > .card-img--mirror {
  width: var(--card-width);
  height: var(--card-width);
  background: linear-gradient(
      180deg,
      #ffffff 50%,
      rgba(255, 255, 255, 0.71) 100%
    );
  border-radius: 10px;
  transform: rotate(180deg);
  position: absolute;
  top: calc(var(--card-width) + 40px);
}