@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@500;700;900&display=swap");

:root {
  --primary-color: #9b51e0;
}

:root {
  --z-back: 0;
  --z-content: 1;
  --z-nav: 100;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.music-dream {
  height: 100vh;
  width: 100vw;
  background: var(--primary-color);
  position: relative;
}

.music-dream > .logo {
  width: 134px;
  height: 64px;
  position: absolute;
  background: url(./img/Logo.png) no-repeat center center/cover;
  top: 50%;
  left: 50%;
  transform: translate(-67px, -32px);
  z-index: var(--z-back);
}

.hide {
  visibility: hidden;
}

/* 
  Contents
*/
.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: var(--z-content);
}

.content > section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
}

.content > section.topfive {
  background: #fff;
  left: 0;
}

.content > section.playlist {
  background: blue;
  left: 100vw;
}

.content > section.search {
  background: green;
  left: 200vw;
}

/* 
  Top 5
*/

.topfive > header {
  width: 100%;
  height: 150px;
  background: url(./img/main-top.png) no-repeat center center/cover;
}

.topfive article {
  height: calc(100% - 150px);
  overflow-y: scroll;
}

.topfive ul {
  padding-top: 18px;
  padding-bottom: 18px;
}

.topfive ul > li {
  height: 50px;
  width: 314px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.topfive ul > li .no {
  font-weight: 900;
  color: var(--primary-color);
}

.topfive ul > li img {
  width: 50px;
  height: 50px;
}

.topfive ul > li .song-info {
  width: 160px;
}

.topfive ul > li .song-info > dt {
  font-weight: 500;
  line-height: 20.72px;
}

.topfive ul > li .song-info > dl {
  font-size: 12px;
  line-height: 17.76px;
}

.topfive ul > li .icon-play {
  width: 22px;
  height: 22px;
  background: url(./img/icon-play.png) no-repeat center center/cover;
}

.topfive ul > li .icon-plus {
  width: 22px;
  height: 22px;
  background: url(./img/icon-plus.png) no-repeat center center/cover;
}

/* 
  Footer
 */

footer.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #e0e0e0;
  z-index: var(--z-nav);
}
.nav-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #333333;
}

.nav-link.active {
  color: var(--primary-color);
}

.nav-link.active > svg > path {
  stroke: var(--primary-color);
}

.nav-link > svg {
  margin-bottom: 11.6px;
}
