@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto:wght@500;700;900&display=swap');

:root {
  --gray-6: #f2f2f2;
  --border: #bdbdbd;
}

*,
::before,
::after {
  box-sizing: content-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Rovoto", sans-serif;
  font-weight: 500;
}

.movie-section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-container {
  width: 1060px;
  height: auto;
  background-color: var(--gray-6);
  margin-top: 86px;
  margin-bottom: 135px;
  border-radius: 15px;
  border: 2px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 26px;
}

.movie-header {
  height: 177px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-header > h2 {
  height: 102px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.movie-header > h2::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--border);
}

.movie-header-list {
  width: 60%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-header-list li.active {
  font-weight: 900;
  color: #000;
}

.movie-header-list li {
  font-weight: 500;
  color: #828282;
}

.movie-card-list {
  width: 1003px;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid var(--border);
  padding-top: 26px;
}

.movie-card-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card-list li {
  border-radius: 10px;
  background-color: #fff;
  outline: 2px solid var(--border);
  margin-bottom: 26px;
  position: relative;
  padding: 19px 20px, 0, 20px;
  overflow: hidden;
}

.movie-card-content {
  padding: 20px 20px 0 20px;
  width: 180px;
}

.movie-card-content > img {
  width: 180px;
  height: 250px;
}

.movie-card-content dl {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.movie-card-content dl > div {
  margin-bottom: 5px;
}

.movie-card-content dl dt,
.movie-card-content dl dd {
  display: inline-block;
}

.movie-card-content dl dt {
  color: #828282;
}

.movie-card-content dl dt {
  color: #828282;
}

.movie-card-content dl dt.rate::after{
  content: "";
  display: inline-block;
  background: url("./img/star-1.png") no-repeat center center/cover;
  width: 14px;
  height: 14px;
  vertical-align: top;
  margin: 2px 0 0 5px;
}

.movie-card-content dl dd {
  margin-left: 5px;
}

.movie-card-content dl dd.cast {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-title {
  display: block;
  font-weight: 900;
  text-align: center;
  height: 23px;
  width: 168px;
  line-height: 23px;
  text-overflow: ellipsis;
}

.movie-card-list li > a[class^="link"] {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 41px;
  line-height: 41px;
  background: #f2f2f2;
  border-top: 1px solid var(--border);
  position: relative;
}

.link-reserv::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--border);
}

.link-preview::before {
  content: "";
  display: inline-block;
  background: url("./img/play-circle.png") no-repeat center center/cover;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 11px 2px 0 0;
}

.footer {
  background-color: var(--gray-6);
  width: 100vw;
  height: 213px;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 60%;
  height: 100%;
  background-color: red;
}
