@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");

:root {
  --gray-6: #f2f2f2;
  --border: #bdbdbd;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  width: 100vw;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Rovoto", sans-serif;
  font-weight: 500;
}

.movie-section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-container {
  width: 1060px;
  height: auto;
  background-color: var(--gray-6);
  margin-top: 86px;
  margin-bottom: 135px;
  border-radius: 15px;
  border: 2px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 26px;
}

.movie-header {
  height: 177px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-header > h2 {
  height: 102px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-header > h2::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--border);
}

.movie-header-list {
  width: 60%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-header-list li.active {
  font-weight: 900;
  color: #000;
}

.movie-header-list li {
  font-weight: 500;
  color: #828282;
}

.movie-card-list {
  width: 1003px;
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid var(--border);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 26px;
}

.movie-card-list li {
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid var(--border);
  margin-bottom: 26px;
  position: relative;
}

.movie-card-list li > a[class^="link"] {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 41px;
  line-height: 41px;
  background: #f2f2f2;
  border-top: 1px solid #bdbdbd;
}

.link-preview::before {
  content: "";
  display: inline-block;
  background: url("./img/play-circle.png") no-repeat center center/cover;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 11px 2px 0 0;
}

.footer {
  background-color: var(--gray-6);
  width: 100vw;
  height: 213px;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 60%;
  height: 100%;
  background-color: red;
}
